
.Start, .Om, .Info{
    background-color: #3b79e6;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
  }

.grid-container {
  display: grid;
  column-gap: 50px;
  justify-content: center;
  grid-template-columns: auto auto auto;
  padding:30px;
}
.grid-container > div {
  background-color: lightblue;
  border: 5px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 30px;
  text-align: center;
}
